<mat-card class="card-container mat-elevation-z5">

  <mat-card-title i18n="account-info">Account</mat-card-title>
  <mat-divider></mat-divider>
  <div class="flex-account-container">
    <table>
      <tbody>
      <tr>
        <td><span class="material-icons">account_box</span></td>
        <td class="title" i18n="account-info">Full name:</td>
        <td>{{accountProfileDetails?.fullName}}</td>
      </tr>
      <tr>
        <td><span class="material-icons">email</span></td>
        <td class="title" i18n="account-info">Email address:</td>
        <td>{{accountProfileDetails?.email}}</td>
      </tr>
      <tr>
        <td><span class="material-icons">account_circle</span></td>
        <td class="title" i18n="account-info">Account type:</td>
        <td>{{accountProfileDetails?.role.displayName}}</td>
      </tr>
      <tr>
        <td><span class="material-icons">phone</span></td>
        <td class="title" i18n="account-info">Phone number:</td>
        <td>{{accountProfileDetails?.phoneNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</mat-card>
<button (click)="openAccountEdit()" color="primary" i18n="account-info-button" mat-button>EDIT</button> &nbsp;
<button (click)="openDialog()" color="warn" i18n="account-info-button" mat-button>DELETE</button>
