<div class="container">
  <mat-card class="card-container mat-elevation-z6">
    <p class="mat-headline" i18n="account-password">New password</p>
    <mat-divider></mat-divider>
    <br>
    <small class="custom-small" i18n="account-password">Account:</small><br>
    <small>Full name: {{accountDetails?.fullName}}</small><br>
    <small>Email address: {{accountDetails?.email}}</small><br>
    <br>

    <form (ngSubmit)="submit()" [formGroup]="newPasswordForm" class="new-password-form">

      <mat-form-field class="form-full-width">
        <mat-label>
          <span class="material-icons">lock</span>
          <span class="custom-span" i18n="account-password">&nbsp;New password</span>
        </mat-label>
        <input formControlName="password" i18n-placeholder="account-password" matInput placeholder="Enter new password"
               type="password">
        <mat-error *ngIf="newPasswordForm.get('password').errors?.serverError">
          {{newPasswordForm.get('password').errors['serverError']}}
        </mat-error>
      </mat-form-field>

      <button color="primary" i18n="account-password-button" mat-button type="submit">SAVE</button>
      <button color="primary" i18n="account-password-button" id="signInButton" mat-button routerLink="/login-form"
              type="button">
        SIGN IN
      </button>

    </form>
  </mat-card>
</div>
